@model DailyTuntun.Models.MemberUpdatePassModel

@{
    ViewData["Title"] = "UpdatePassword";

    string email = (string)ViewData["Email"];
    bool managerYn = (bool)ViewData["ManagerYn"];

    var title = "비밀번호 변경";
    var boxColor = "";

    if (managerYn == true)
    {
        title = "교사 비밀번호 변경";
        boxColor = "background-color: yellowgreen";
    }
}

<div class="login-page full-screen">
    <div class="wrapper">
        <div class="page-header" style="background-image: url('/assets/img/main/main.jpg');">
            @*<div class="filter"></div>*@
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
                        <div class="card card-register" style="@boxColor">
                            <h3 class="card-title"><b>@title</b></h3>
                            <form class="register-form" name="registerform" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="Account" asp-action="UpdatePassword">
                                <input asp-for="ManagerYn" type="hidden" value="@managerYn" />
                                <input asp-for="UserEmail" type="hidden" value="@email" />
                                <div class="input-group-btn">
                                    <label asp-for="UserEmail" class="control-label"></label>
                                    <input type="text" class="form-control no-border" value="@email" readonly>
                                    <span asp-validation-for="UserEmail" class="text-danger"></span>
                                </div>
                                <div class="input-group-btn">
                                    <label asp-for="NewPassword" class="control-label"></label>
                                    <input asp-for="NewPassword" type="password" class="form-control no-border">
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <div class="input-group-btn">
                                    <label asp-for="ConfirmPassword" class="control-label"></label>
                                    <input asp-for="ConfirmPassword" type="password" class="form-control no-border">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <input type="button" value="취소" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-outline-danger btn-block btn-round">
                                <button type="button" id="onsubmit" onclick="onSubmit()" class="btn btn-danger btn-block btn-round" style="margin-top: 5px;">변 경</button>
                            </form>
                            <div class="text-center">
                                <div asp-validation-summary="ModelOnly" class="text-black-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    window.onload = function () {
        document.getElementById("UserEmail").focus();
    }

    function onSubmit() {
        document.registerform.submit();
    }
</script>
