@model IEnumerable<DailyTuntun.Models.ProductContentModel>
@{
    ViewData["Title"] = "ContentMapList";

    int contentGroupId = (int)ViewData["ContentGroupID"];
    int contentTitleId = (int)ViewData["ContentTitleID"];
    string contentTitle = (string)ViewData["ContentTitle"];
    string contentImageURL = (string)ViewData["ContentImageURL"];
    string contentGroupImageURL = (string)ViewData["ContentGroupImageURL"];

    int productKindId = (int)ViewData["ProductKindID"];

    string bgPath = "/assets/img/sub/bg_gray.png";
}

<div class="page-header page-header-small" style="background-image: url('@bgPath');">
    @*<div class="filter"></div>*@
    <div class="content-center sub-center block-header">
        <div class="container">
            <div class="motto">
                <div class="row">
                    <div class="col-6">
                        <img src="@contentImageURL" class="img-tweet-link img-responsive" style="max-height:200px">
                    </div>
                    <div class="col-6 contentlist">
                        <div class="description">
                            <img src="@contentGroupImageURL" height="70" />
                        </div>
                        <br />
                        <h5 class="description">@contentTitle</h5>
                        <button type="button" class="btn btn-youtube" onclick="resetPlay(@contentTitleId);">시청 초기화</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main" style="overflow-x: scroll; ">
    <div class="wrapper" style="background: #c4e8f4; min-width:1450px;">

        @if (contentGroupId == 1)
        {
            <img src="/assets/img/sub/block_bg_4.jpg" style="position: relative; left: 50%; margin-left: -960px;" usemap="#block_play"> <!--연령에따라 배경이미지, map주소 바뀌어야 함-->
        }
        else if (contentGroupId == 2)
        {
            <img src="/assets/img/sub/block_bg_5.jpg" style="position: relative; left: 50%; margin-left: -960px;" usemap="#block_play"> <!--연령에따라 배경이미지, map주소 바뀌어야 함-->
        }
        else if (contentGroupId == 3)
        {
            <img src="/assets/img/sub/block_bg_6.jpg" style="position: relative; left: 50%; margin-left: -960px;" usemap="#block_play"> <!--연령에따라 배경이미지, map주소 바뀌어야 함-->
        }
        else if (contentGroupId == 4)
        {
            <img src="/assets/img/sub/block_bg_7.jpg" style="position: relative; left: 50%; margin-left: -960px;" usemap="#block_play"> <!--연령에따라 배경이미지, map주소 바뀌어야 함-->
        }

        <div class="section section-blog" style="position: absolute; left:50%; margin-left: -570px; top: 0;">
            <div class="container">
                <div class="row card-block">

                    @if (Model.Count() == 0)
                    {
                        <br /><br />
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <h3>자료가 없습니다.</h3>
                            </div>
                        </div>
                        <br /><br />

                    }
                    else
                    {
                        @foreach (var item in Model)
                        {
                            <div class="card-day">
                                <div class="card card-product card-plain text-center">
                                    <div class="card-image" id="image_@item.ContentID" style="display: block;">
                                        <a href="javascript:playModal(@Html.DisplayFor(modelItem => item.ContentID));">
                                            <img src="@Html.DisplayFor(modelItem => item.ImageURL)" alt="Rounded Image" class="img-thumbnail img-no-padding img-responsive">
                                        </a>
                                    </div>
                                    <div class="card-image" id="imageCom_@item.ContentID" style="display: none;">
                                        <a href="javascript:playModal(@Html.DisplayFor(modelItem => item.ContentID));">
                                            <img src="@Html.DisplayFor(modelItem => item.CompleteImageURL)" alt="Rounded Image" class="img-thumbnail img-no-padding img-responsive">
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <!-- all modal -->
                            <div class="modal" id="play_@item.ContentID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog modal-lg modal-notice">
                                    <div class="modal-content">
                                        <div class="modal-body" style="padding-left: 10px; padding-right: 10px;">
                                            <div class="instruction">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card card-body card-plain">
                                                            <iframe src="@Html.DisplayFor(modelItem => item.StreamURL)" id="content_@item.ContentID" frameborder="0" playsinline="false" allow="autoplay; fullscreen" webkitallowfullscreen mozallowfullscreen allowfullscreen style="height: 410px !important; max-width: none !important; max-height: none !important"></iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary btn-link" data-dismiss="modal">닫기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<script type="text/javascript">
                                $("#content_"+@item.ContentID)(function () {

                                    var ContentID = @item.ContentID;

                                    $.ajax({
                                        type: "POST",
                                        url: "/Product/ContentViewCheck",
                                        data: { contentId: ContentID },
                                    });

                                });
                                </script>*@
                        }
                    }
                </div>
            </div>
        </div>
        <!--연령에 따라 달라지는 이미지맵-->
        <map name="block_play" width="100%">
            @foreach (var item in ViewBag.PopList)
            {
                <area shape="circle" alt="@item.OrderNum" coords="@item.Coords" href="javascript:popModal(@item.ContentID);">
            }
        </map>
    </div>
</div>

@foreach (var item in ViewBag.PopList)
{
    <div class="modal" id="pop_@item.ContentID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-notice">
            <div class="modal-content">
                <div class="modal-body" style="padding-left: 10px; padding-right: 10px;">
                    <div class="instruction">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-body card-plain">
                                    <iframe src="@item.StreamURL" id="content_@item.ContentID" frameborder="0" playsinline="false" allow="autoplay; fullscreen" webkitallowfullscreen mozallowfullscreen allowfullscreen style="max-width: none !important"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-link" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
}

<script src="https://player.vimeo.com/api/player.js"></script>
<script type="text/javascript">


    function playModal(ContentID) {

        var cId = ContentID;

        $.ajax({
            type: "POST",
            url: "/Product/ContentViewCheck",
            data: { contentId: cId },
            success: function (result) {
                document.getElementById("image_" + cId).style.display = "none";
                document.getElementById("imageCom_" + cId).style.display = "block";
            }
        });

        $("#play_" + cId).modal("show");
    }


    function popModal(ContentID) {

        var cId = ContentID;

        $("#pop_" + cId).modal("show");
    }




    function resetPlay(ContentTitleID) {

        $.ajax({
            type: "POST",
            url: "/Product/ContentViewCheckReset",
            data: { contentTitleId: ContentTitleID },
            success: function (result) {
                window.location.reload();
            }
        });

        $("#play_" + cId).modal("show");
    }

    $(function () {
        $('.modal, .close').click(function () {
            $("iframe").each(function () {
                var src = $(this).attr('src');
                $(this).attr('src', src);
            });
        });
    });

</script>






